*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
header{
    padding: 15px;
    display: flex;
    justify-content: space-around;
}
.search{
    border: 1px solid #ccc;
    display: flex;
    border-radius: 5px;
}
.search input{
    width: 350px;
    height: 30px;
    border: none;
}
.search i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 5px;
    color: #fff;
}
.form-login{
    display: flex;
}
.form-login i {
    margin-right: 5px;
}
.container{
    margin-top: 10px;
    display: flex;
    border: 2px solid rgb(234, 31, 31);
    height: 500px;
}
.container_left{
    width: 20%;
    border: 1px solid rgb(234, 31, 31);
}
.container_left h3{
    background-color:rgb(234, 31, 31) ;
    color: #fff;
    text-align: center;
    height: 30px;
}
.left-list{
    margin-left: 10px;
    margin-top: 5px;
}
.left-item{
    padding: 8px;
    border-bottom: 1px solid #ccc;
    color: blue;
}
.left-item:hover{
    background-color: #ccc;
    cursor: pointer;
}
.left-item a{
    color: black;
}
.container_right{
    width: 80%;
}
.right-item{
    padding: 5px;
    height: 30px;
}
.right-item:hover{
    background-color: #ccc;
    cursor: pointer;
}
.right-item a{
    margin-left: 10px;
    color: black;
}
.right-list{
    display: flex;
    border: 1px solid rgb(234, 31, 31);
}